.header-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e6a56c;
  position: relative;
  height: 80px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 10vw;
  max-height: 175px;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links a.active {
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.profile-label {
  color: white;
  font-size: 0.875rem;
}

.profile-icon {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.profile-letter {
  font-size: 0.875rem;
  color: #f08a24;
  text-align: center;
  white-space: nowrap;
}

.logout-button {
  background-color: #b77d3b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1px;
  margin-left: 5px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.logout-button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .logo {
    left: 10px;
  }

  .nav-links a {
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }

  .profile {
    margin-right: 10px;
  }

  .profile-container {
    margin-left: 0.5rem;
  }

  .logout-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links a {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  .logo {
    left: 5px;
  }

  .profile {
    margin-right: 5px;
  }

  .logout-button {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
  }
}
