body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  min-inline-size: 100vw;
  min-block-size: 100vh;
  overflow-x: hidden;
}

.upper-content-logo {
  padding: 50px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.list-form {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.list-form input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #e49b5d;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #000;
}

.list-form button {
  width: 30%; 
  height: 40px;
  padding: 8px 16px;
  background-color: #e49b5d;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.list-form button:hover {
  background-color: #b77d3b;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboard-list-content h1 {
  color: black;
  text-align: left;
  margin-bottom: 10px;
}

.list-container,
.selected-list {
  flex: 1;
}

.list {
  background-color: #e49b5d;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.list:hover {
  background-color: #a9acbd;
  transform: scale(1.05);
}

.delete-list-btn {
  background-color: #b77d3b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-list-btn:hover {
  background-color: #dd8d15;
}

.selected-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.selected-list h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: #a9acbd;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0px;
}

.sidebar img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.delete-button button,
.comparativa-button {
  padding: auto;
  background-color: #a9acbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button button:hover,
.comparativa-button:hover {
  background-color: #dd8d15;
  transform: scale(1.05);
}

.products-form {
  background-color: #ddf0df;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.product-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.product-details.horizontal {
  display: flex;
  gap: 10px;
}

.product-details.horizontal select,
.product-details.horizontal button {
  width: 100%;
}

.product-row input[type="text"],
.product-row input[type="number"],
.product-row select {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 14px;
  border: 2px solid #a9acbd;
  border-radius: 4px;
  background-color: transparent;
  color: #807e7e;
  margin-bottom: 0px;
}

.product-row .delete-from-db {
  height: 35px;
  padding: 0 10px;
  background-color: #a9acbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-row .delete-from-db:hover {
  background-color: #e49b5d;
  transform: scale(1.05);
}

.products-form button {
  padding: 10px 20px;
  background-color: #a9acbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.products-form button:hover {
  background-color: #e49b5d;
  transform: scale(1.05);
}

@media (min-width: 769px) {
  .dashboard-content {
    flex-direction: row;
  }

  .list-form {
    flex-direction: row;
  }

  .list-form input[type="text"] {
    width: 70%;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .list-form button {
    width: 30%;
  }

  .list-container,
  .selected-list {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
  }

  .list {
    width: 100%;
  }

  .list-container,
  .selected-list {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .upper-content-logo {
    padding: 20px;
  }

  .container {
    max-width: 95%;
    padding: 10px;
  }

  .list-form {
    padding: 10px;
  }

  .selected-list h2 {
    font-size: 24px;
  }

  .product-row input[type="text"],
  .product-row input[type="number"],
  .product-row select {
    max-width: 100%;
    margin-right: 0;
  }

  .products-form {
    background-color: #ddf0df;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .product-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .product-details.horizontal {
    display: flex;
    gap: 10px;
  }

  .product-details.horizontal select {
    flex: 1;
  }

  .button-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .horizontal-button {
    flex: 1; 
  }

  .save-button {
    background-color: #a9acbd; 
    color: #fff;
  }

  .comparativa-button {
    background-color: #a9acbd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
  }

  .comparativa-button:hover {
    background-color: #dd8d15;
  }

  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .button-container button:hover {
    transform: scale(1.05);
  }

  .delete-button button,
  .comparativa-button,
  .products-form button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
