html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e2e2dd;
  color: #000;
  overflow: hidden;
  flex: 1;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.three-part-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.column-left,
.column-center,
.column-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.column-left {
  flex: 0 0 20%;
}

.column-center,
.column-right {
  flex: 1;
  background-size: cover;
  background-position: top;
}

.upper-content,
.upper-content2 {
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.upper-content2 {
  background-color: #e49b5d;
}

.product-list-container {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  max-width: 100%;
  height: auto;
}

.small-logo {
  width: 150px;
}

.mercadona-logo {
  width: 320px;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.price-card {
  background-color: #e49b5d;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.product-card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
}

@media (max-width: 668px) {
  .three-part-body {
    grid-template-columns: 1fr;
  }

  .column-center,
  .column-right {
    margin-top: 10px;
    background-size: cover;
    background-position: center;
  }

  .upper-content {
    padding: 10px;
  }

  .small-logo {
    width: 100px;
  }
}
