body {
  font-family: Arial, sans-serif;
  background-color: #e2e2dd;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.three-part-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.column-left {
  flex: 0 0 20%; 
}

.column-center,
.column-right {
  flex: 1; 
}

.column-center,
.column-right {
  background-size: 100%;
  background-position: top;
  margin-top: 80px;
}

.upper-content {
  padding: 10px;
  text-align: center;

  width: 100%;
  box-sizing: border-box;
}
.upper-content2 {
  padding: 10px;
  text-align: center;
  background-color: #e49b5d;
  width: 100%;
  box-sizing: border-box;
}

.mid-content {
  padding: 0px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-content {
  max-height: 400px; 
  overflow-y: auto;
  width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
}

.small-logo {
  width: 150px; 
}

.mercadona-logo {
  width: 320px; 
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.price-card {
  background-color: #e49b5d; 
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.product-card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 668px) {
  .three-part-body {
    grid-template-columns: 1fr; 

  .column-center,
  .column-right {
    margin-top: 10px; 
    background-size: cover;
    background-position: center;
  }

  .upper-content {
    padding: 10px; 
  }

  .small-logo {
    width: 100px; 
  }
}
}